.form__group {
    margin-bottom: 20px;

    &-input {
        width: 100%;
        min-height: 46px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #d1d5da;

        //styles for invalid input 
        &.error {
            border-color: red;
        }
    }

    &-label {
        display: block;
        margin-bottom: 10px;
        color: #586069;
        text-transform: capitalize;
    }

    &-error {
        display: inline-block;
        margin-top: 5px;
        color: red;
    }
}