.tabbar__navigation {
    display: flex;
    margin-bottom: 20px;
}

.tabbar__navigation-item {
    width: 50%;
    padding: 10px 20px;

    border-bottom: 1px solid #d1d5da;
    text-align: center;
    cursor: pointer;
}

.tabbar__navigation-item:not(.active) {
    opacity: 0.6;
}

.tabbar__navigation-item:not(:last-child) {
    border-right: 1px solid #d1d5da
}

.tabbar__navigation-item.active {
    border-bottom-color: transparent;
}