.modal-window {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    z-index: 20000;
    background: rgba(0, 0, 0, 0.7);
    overflow: auto
}

.modal-window_show {
    /* display: block;
    overflow: auto; */
}

.modal-window__content {
    max-width: 600px;
    width: 100%;
    min-height: 200px;
    margin: 10% auto 5%;
    position: relative;
    border-radius: 6px;
    background: #fff;
}

.modal-window__close,
.button-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url('../img/close.png') center no-repeat;
    background-size: contain;
}