.textarea-container {
    .textarea {
        display: block;
        max-height: 500px;
        min-height: 75px;
        padding: 8px;
        resize: vertical;
        width: 100%;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 0 0 20px;
    }

    .textarea-label {
        display: block;
        margin-bottom: 10px;
    }
}