.uploadFile-container {
    .uploadFileButton {
        padding: 10px 20px;
        background:#0366d6;
        padding: 10px;
        color: #FFF;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        text-transform: capitalize;
        transition: background 300ms ease, opacity 300ms ease;

        &:hover {
            opacity: 0.8;
        }
    }

    .uploadFileinput {
        display: none;
    }
}

