.modal-backdrop {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;

    .modal-window {
        max-width: 600px;
        width: 100%;
        min-height: 200px;
        position: relative;
        margin: 10% auto 5%;
        padding: 20px 30px;
        box-sizing: border-box;
        border-radius: 6px;
        background: #fff;
        animation: fade-in 300ms ease-in;

        .popup__button-close {
            width: 22px;
            height: 22px;
            position: absolute;
            top: 14px;
            right: 14px;
            background: url('./icons/button-close.png') center no-repeat;
            background-size: contain;
            cursor: pointer;
            transition: background 200ms ease-in-out;
            background-size: contain;
        }

        &__title {
            font-size: 30px;
            margin: 0 0 20px
        }

        &__content {
            font-size: 24px;
        }
    }
}



@media(max-width: 767px) {
    .modal-backdrop {
        .modal-window {
            max-width: 100%;
            min-height: 100%;
            margin: 0;
            border-radius: 0;
        }
    }
}

@media (max-width: 479px) {
    .modal-backdrop {
        .modal-window {
            padding: 20px;
        }
    }
}

@keyframes fade-in {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}