.navigation .navigation__list {
    list-style: none;
}

.navigation .navigation__item {
    display: inline-block;
    margin-left: 20px;
    color: fff;
}

.navigation .navigation__item-link {
    color: #fff;
}