.page-content {
    width: 100%;
    max-width: 1240px;
    margin: 80px auto;
    padding: 0 20px;
    box-sizing: border-box;
    

    &__title {
        margin: 20px 0 30px;
        text-align: center;
    }
}