.header {
    box-sizing: border-box;
    background: #24292e;

    &__wrapper {
        display: flex;
        width: 100%;
        max-width: 1220px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 10px 20px;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 115px;
        height: 60px;
        font-size: 0;
        background: url('logotype.png') center no-repeat;
        background-size: contain;
    }

    &__button {
        padding: 4px 8px;
        margin-left: 20px;
        font-size: 14px;
        border-radius: 6px;
        border: 1px solid #d1d5da;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 200ms ease;

        &:hover {
            outline: none;
            background: #fff;
            color: #000;
            border-color: #000;
        }
    }
}

@media (max-width: 479px) {
    .header {
        &__button {
            margin-left: 10px;
        }
    }
}