input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    vertical-align: middle;
}

input[type="checkbox"]+label::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background: #fff;
    border: 1px solid #d1d5da;
    transition: background 300ms ease;
    box-sizing: border-box;
    cursor: pointer;

}

input[type="checkbox"]:checked+label::before {
    border: none;
    background: url('checkbox-icon.png') no-repeat center;
    background-size: cover
}