.new-task__details {
    .new-task__form {
        max-width: 800px;
        margin: 0 auto;

        .form__button {
            float: right;
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            clear: both;
        }
    }


    .task-content {
        min-height: 350px;
    }


    .uploadFile-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;

        .label {
            font-size: 12px;
            margin: 10px 0;
        }
    }

    .checkbox-field {
        &__content {
            display: flex;
            flex-wrap: wrap;

            .checkbox {
                width: 200px;
            }
        }

        &__title {
            margin-bottom: 15px;
        }
    }
}